*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.visible {
  visibility: visible;
}

.collapse {
  visibility: collapse;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.bottom-0 {
  bottom: 0px;
}

.left-\[-1\.8rem\] {
  left: -1.8rem;
}

.left-\[-1rem\] {
  left: -1rem;
}

.left-\[0\] {
  left: 0;
}

.left-\[71rem\] {
  left: 71rem;
}

.right-0 {
  right: 0px;
}

.right-\[-1\.4rem\] {
  right: -1.4rem;
}

.top-0 {
  top: 0px;
}

.top-\[0\.2rem\] {
  top: 0.2rem;
}

.top-\[1\.9rem\] {
  top: 1.9rem;
}

.top-\[2\.3rem\] {
  top: 2.3rem;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-\[9\] {
  z-index: 9;
}

.z-30 {
  z-index: 30;
}

.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-\[0\.8rem\] {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.my-\[2rem\] {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-\[0\.3rem\] {
  margin-bottom: 0.3rem;
}

.mb-\[1rem\] {
  margin-bottom: 1rem;
}

.mb-\[2rem\] {
  margin-bottom: 2rem;
}

.mb-\[3rem\] {
  margin-bottom: 3rem;
}

.mb-\[8rem\] {
  margin-bottom: 8rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-\[10rem\] {
  margin-top: 10rem;
}

.mt-\[1rem\] {
  margin-top: 1rem;
}

.mt-\[4rem\] {
  margin-top: 4rem;
}

.mt-\[5\.5rem\] {
  margin-top: 5.5rem;
}

.mt-\[50rem\] {
  margin-top: 50rem;
}

.mt-\[5rem\] {
  margin-top: 5rem;
}

.mt-\[7rem\] {
  margin-top: 7rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.h-96 {
  height: 24rem;
}

.h-\[0\.1rem\] {
  height: 0.1rem;
}

.h-\[1\.5rem\] {
  height: 1.5rem;
}

.h-\[10\.89px\] {
  height: 10.89px;
}

.h-\[100vh\] {
  height: 100vh;
}

.h-\[1137px\] {
  height: 1137px;
}

.h-\[114\.35px\] {
  height: 114.35px;
}

.h-\[12\.39px\] {
  height: 12.39px;
}

.h-\[13\.88px\] {
  height: 13.88px;
}

.h-\[14\.54px\] {
  height: 14.54px;
}

.h-\[148px\] {
  height: 148px;
}

.h-\[166px\] {
  height: 166px;
}

.h-\[17\.19px\] {
  height: 17.19px;
}

.h-\[18px\] {
  height: 18px;
}

.h-\[19\.83px\] {
  height: 19.83px;
}

.h-\[22\.21px\] {
  height: 22.21px;
}

.h-\[24\.14px\] {
  height: 24.14px;
}

.h-\[24px\] {
  height: 24px;
}

.h-\[284\.32px\] {
  height: 284.32px;
}

.h-\[32\.27px\] {
  height: 32.27px;
}

.h-\[33\.41px\] {
  height: 33.41px;
}

.h-\[34\.5px\] {
  height: 34.5px;
}

.h-\[35px\] {
  height: 35px;
}

.h-\[36\.6px\] {
  height: 36.6px;
}

.h-\[41\.13px\] {
  height: 41.13px;
}

.h-\[43\.4px\] {
  height: 43.4px;
}

.h-\[43\.71px\] {
  height: 43.71px;
}

.h-\[44px\] {
  height: 44px;
}

.h-\[46\.78px\] {
  height: 46.78px;
}

.h-\[47\.43px\] {
  height: 47.43px;
}

.h-\[505px\] {
  height: 505px;
}

.h-\[61\.71px\] {
  height: 61.71px;
}

.h-\[67px\] {
  height: 67px;
}

.h-\[7\.46px\] {
  height: 7.46px;
}

.h-\[78\.53px\] {
  height: 78.53px;
}

.h-\[881px\] {
  height: 881px;
}

.h-full {
  height: 100%;
}

.h-\[\] {
  height: ;
}

.h-\[5\] {
  height: 5;
}

.h-\[500px\] {
  height: 500px;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[300px\] {
  height: 300px;
}

.w-\[10\.89px\] {
  width: 10.89px;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[100\.92px\] {
  width: 100.92px;
}

.w-\[102\.33px\] {
  width: 102.33px;
}

.w-\[107px\] {
  width: 107px;
}

.w-\[12\.39px\] {
  width: 12.39px;
}

.w-\[14\.54px\] {
  width: 14.54px;
}

.w-\[142\.85px\] {
  width: 142.85px;
}

.w-\[157\.16px\] {
  width: 157.16px;
}

.w-\[158px\] {
  width: 158px;
}

.w-\[17\.19px\] {
  width: 17.19px;
}

.w-\[170\.1px\] {
  width: 170.1px;
}

.w-\[182px\] {
  width: 182px;
}

.w-\[201px\] {
  width: 201px;
}

.w-\[212\.34px\] {
  width: 212.34px;
}

.w-\[222px\] {
  width: 222px;
}

.w-\[224px\] {
  width: 224px;
}

.w-\[238\.95px\] {
  width: 238.95px;
}

.w-\[244px\] {
  width: 244px;
}

.w-\[24px\] {
  width: 24px;
}

.w-\[260px\] {
  width: 260px;
}

.w-\[261\.17px\] {
  width: 261.17px;
}

.w-\[287px\] {
  width: 287px;
}

.w-\[309px\] {
  width: 309px;
}

.w-\[314\.57px\] {
  width: 314.57px;
}

.w-\[315px\] {
  width: 315px;
}

.w-\[320px\] {
  width: 320px;
}

.w-\[357px\] {
  width: 357px;
}

.w-\[373px\] {
  width: 373px;
}

.w-\[44px\] {
  width: 44px;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[56\.51px\] {
  width: 56.51px;
}

.w-\[61\.35px\] {
  width: 61.35px;
}

.w-\[7\.46px\] {
  width: 7.46px;
}

.w-\[71\.9px\] {
  width: 71.9px;
}

.w-\[77\.56px\] {
  width: 77.56px;
}

.w-\[81\.26px\] {
  width: 81.26px;
}

.w-\[86\.83px\] {
  width: 86.83px;
}

.w-\[86\.84px\] {
  width: 86.84px;
}

.w-\[full\] {
  width: full;
}

.w-full {
  width: 100%;
}

.w-\[\] {
  width: ;
}

.w-\[250px\] {
  width: 250px;
}

.flex-grow {
  flex-grow: 1;
}

.grow {
  flex-grow: 1;
}

.border-collapse {
  border-collapse: collapse;
}

.rotate-\[-45deg\] {
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize {
  resize: both;
}

.list-disc {
  list-style-type: disc;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.content-between {
  align-content: space-between;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-items-center {
  justify-items: center;
}

.gap-0 {
  gap: 0px;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[0\.2rem\] {
  gap: 0.2rem;
}

.gap-\[0\.3rem\] {
  gap: 0.3rem;
}

.gap-\[0\.5rem\] {
  gap: 0.5rem;
}

.gap-\[0\.6rem\] {
  gap: 0.6rem;
}

.gap-\[0\.7rem\] {
  gap: 0.7rem;
}

.gap-\[1\.3rem\] {
  gap: 1.3rem;
}

.gap-\[1\.5rem\] {
  gap: 1.5rem;
}

.gap-\[1rem\] {
  gap: 1rem;
}

.gap-\[2\.5rem\] {
  gap: 2.5rem;
}

.gap-\[2rem\] {
  gap: 2rem;
}

.gap-\[3rem\] {
  gap: 3rem;
}

.gap-\[65rem\] {
  gap: 65rem;
}

.place-self-center {
  place-self: center;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.rounded-\[0\.7rem\] {
  border-radius: 0.7rem;
}

.rounded-\[100\%\] {
  border-radius: 100%;
}

.rounded-\[12\.73px\] {
  border-radius: 12.73px;
}

.rounded-\[14\.05px\] {
  border-radius: 14.05px;
}

.rounded-\[17\.77px\] {
  border-radius: 17.77px;
}

.rounded-\[19\.8px\] {
  border-radius: 19.8px;
}

.rounded-\[20\.05px\] {
  border-radius: 20.05px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[24\.96px\] {
  border-radius: 24.96px;
}

.rounded-\[25px\] {
  border-radius: 25px;
}

.rounded-\[29\.22px\] {
  border-radius: 29.22px;
}

.rounded-\[3\.65px\] {
  border-radius: 3.65px;
}

.rounded-\[9\.11px\] {
  border-radius: 9.11px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-\[1rem\] {
  border-radius: 1rem;
}

.rounded-\[0\.5rem\] {
  border-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.border-\[1\.46px\] {
  border-width: 1.46px;
}

.border-dashed {
  border-style: dashed;
}

.border-\[\#004C3F\] {
  --tw-border-opacity: 1;
  border-color: rgb(0 76 63 / var(--tw-border-opacity));
}

.border-\[\#ADADAD\] {
  --tw-border-opacity: 1;
  border-color: rgb(173 173 173 / var(--tw-border-opacity));
}

.border-\[\#C9C9C9\] {
  --tw-border-opacity: 1;
  border-color: rgb(201 201 201 / var(--tw-border-opacity));
}

.border-\[\#CFD8DC\] {
  --tw-border-opacity: 1;
  border-color: rgb(207 216 220 / var(--tw-border-opacity));
}

.border-\[\#E6E6E6\] {
  --tw-border-opacity: 1;
  border-color: rgb(230 230 230 / var(--tw-border-opacity));
}

.border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity));
}

.bg-\[\#004D3F\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 77 63 / var(--tw-bg-opacity));
}

.bg-\[\#004d3f1c\] {
  background-color: #004d3f1c;
}

.bg-\[\#0C4E53\] {
  --tw-bg-opacity: 1;
  background-color: rgb(12 78 83 / var(--tw-bg-opacity));
}

.bg-\[\#0f2028\] {
  --tw-bg-opacity: 1;
  background-color: rgb(15 32 40 / var(--tw-bg-opacity));
}

.bg-\[\#15e59921\] {
  background-color: #15e59921;
}

.bg-\[\#C4F86A\] {
  --tw-bg-opacity: 1;
  background-color: rgb(196 248 106 / var(--tw-bg-opacity));
}

.bg-\[\#D9D9D9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(217 217 217 / var(--tw-bg-opacity));
}

.bg-\[\#EDF3F1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(237 243 241 / var(--tw-bg-opacity));
}

.bg-\[\#F4FFFC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(244 255 252 / var(--tw-bg-opacity));
}

.bg-\[\#FFEAEA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 234 234 / var(--tw-bg-opacity));
}

.bg-\[\#ffa95452\] {
  background-color: #ffa95452;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-slate-950 {
  --tw-bg-opacity: 1;
  background-color: rgb(2 6 23 / var(--tw-bg-opacity));
}

.bg-\[\#0000\] {
  background-color: #0000;
}

.bg-\[rgba\(\)\] {
  background-color: rgba();
}

.bg-background-form1 {
  background-image: url('../images/form1.png');
}

.bg-background-form2 {
  background-image: url('../images/form2.png');
}

.bg-background-form3 {
  background-image: url('../images/form3.png');
}

.bg-background-form4 {
  background-image: url('../images/form4.png');
}

.bg-contain {
  background-size: contain;
}

.bg-cover {
  background-size: cover;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-4 {
  padding: 1rem;
}

.p-\[0\.3rem\] {
  padding: 0.3rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-\[28px\] {
  padding-left: 28px;
  padding-right: 28px;
}

.px-\[4rem\] {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-\[1rem\] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-\[4\.5rem\] {
  padding-bottom: 4.5rem;
}

.pb-\[6\.5rem\] {
  padding-bottom: 6.5rem;
}

.pb-\[6rem\] {
  padding-bottom: 6rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pt-0 {
  padding-top: 0px;
}

.pt-\[1rem\] {
  padding-top: 1rem;
}

.pt-\[2rem\] {
  padding-top: 2rem;
}

.pt-\[4rem\] {
  padding-top: 4rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.align-baseline {
  vertical-align: baseline;
}

.font-satoshi {
  font-family: Satoshi-Regular, Satoshi-Medium, Satoshi-Bold;
}

.text-\[10\.93px\] {
  font-size: 10.93px;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[11\.37px\] {
  font-size: 11.37px;
}

.text-\[11\.41px\] {
  font-size: 11.41px;
}

.text-\[11\.99px\] {
  font-size: 11.99px;
}

.text-\[12\.15px\] {
  font-size: 12.15px;
}

.text-\[12\.1px\] {
  font-size: 12.1px;
}

.text-\[12\.67px\] {
  font-size: 12.67px;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[15\.12px\] {
  font-size: 15.12px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18\.22px\] {
  font-size: 18.22px;
}

.text-\[18\.75px\] {
  font-size: 18.75px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[19\.19px\] {
  font-size: 19.19px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[21\.26px\] {
  font-size: 21.26px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[3\.3px\] {
  font-size: 3.3px;
}

.text-\[3\.52px\] {
  font-size: 3.52px;
}

.text-\[30\.25px\] {
  font-size: 30.25px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[5\.14px\] {
  font-size: 5.14px;
}

.text-\[6\.28px\] {
  font-size: 6.28px;
}

.text-\[6\.6px\] {
  font-size: 6.6px;
}

.text-\[8\.15px\] {
  font-size: 8.15px;
}

.text-\[8\.26px\] {
  font-size: 8.26px;
}

.text-\[8\.56px\] {
  font-size: 8.56px;
}

.text-\[8\.5px\] {
  font-size: 8.5px;
}

.text-\[9\.72px\] {
  font-size: 9.72px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[50px\] {
  font-size: 50px;
}

.font-\[400\] {
  font-weight: 400;
}

.font-\[500\] {
  font-weight: 500;
}

.font-\[700\] {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

.leading-\[11\.04px\] {
  line-height: 11.04px;
}

.leading-\[12\.32px\] {
  line-height: 12.32px;
}

.leading-\[12px\] {
  line-height: 12px;
}

.leading-\[13\.12px\] {
  line-height: 13.12px;
}

.leading-\[15px\] {
  line-height: 15px;
}

.leading-\[16\.61px\] {
  line-height: 16.61px;
}

.leading-\[17\.12px\] {
  line-height: 17.12px;
}

.leading-\[17\.28px\] {
  line-height: 17.28px;
}

.leading-\[17\.64px\] {
  line-height: 17.64px;
}

.leading-\[17\.99px\] {
  line-height: 17.99px;
}

.leading-\[18\.15px\] {
  line-height: 18.15px;
}

.leading-\[20\.96px\] {
  line-height: 20.96px;
}

.leading-\[3\.96px\] {
  line-height: 3.96px;
}

.leading-\[30\.08px\] {
  line-height: 30.08px;
}

.leading-\[32\.37px\] {
  line-height: 32.37px;
}

.leading-\[37px\] {
  line-height: 37px;
}

.leading-\[44px\] {
  line-height: 44px;
}

.leading-\[45px\] {
  line-height: 45px;
}

.leading-\[50px\] {
  line-height: 50px;
}

.leading-\[10px\] {
  line-height: 10px;
}

.leading-\[7px\] {
  line-height: 7px;
}

.text-\[\#004C3F\] {
  --tw-text-opacity: 1;
  color: rgb(0 76 63 / var(--tw-text-opacity));
}

.text-\[\#004D3F\] {
  --tw-text-opacity: 1;
  color: rgb(0 77 63 / var(--tw-text-opacity));
}

.text-\[\#0C4E53\] {
  --tw-text-opacity: 1;
  color: rgb(12 78 83 / var(--tw-text-opacity));
}

.text-\[\#0F5156\] {
  --tw-text-opacity: 1;
  color: rgb(15 81 86 / var(--tw-text-opacity));
}

.text-\[\#0e0404\] {
  --tw-text-opacity: 1;
  color: rgb(14 4 4 / var(--tw-text-opacity));
}

.text-\[\#12141D\] {
  --tw-text-opacity: 1;
  color: rgb(18 20 29 / var(--tw-text-opacity));
}

.text-\[\#121A26\] {
  --tw-text-opacity: 1;
  color: rgb(18 26 38 / var(--tw-text-opacity));
}

.text-\[\#212121\] {
  --tw-text-opacity: 1;
  color: rgb(33 33 33 / var(--tw-text-opacity));
}

.text-\[\#3274DF\] {
  --tw-text-opacity: 1;
  color: rgb(50 116 223 / var(--tw-text-opacity));
}

.text-\[\#3C7074\] {
  --tw-text-opacity: 1;
  color: rgb(60 112 116 / var(--tw-text-opacity));
}

.text-\[\#45413C\] {
  --tw-text-opacity: 1;
  color: rgb(69 65 60 / var(--tw-text-opacity));
}

.text-\[\#474747\] {
  --tw-text-opacity: 1;
  color: rgb(71 71 71 / var(--tw-text-opacity));
}

.text-\[\#6B9B90\] {
  --tw-text-opacity: 1;
  color: rgb(107 155 144 / var(--tw-text-opacity));
}

.text-\[\#6D6D6D\] {
  --tw-text-opacity: 1;
  color: rgb(109 109 109 / var(--tw-text-opacity));
}

.text-\[\#757575\] {
  --tw-text-opacity: 1;
  color: rgb(117 117 117 / var(--tw-text-opacity));
}

.text-\[\#7E7E7E\] {
  --tw-text-opacity: 1;
  color: rgb(126 126 126 / var(--tw-text-opacity));
}

.text-\[\#848484\] {
  --tw-text-opacity: 1;
  color: rgb(132 132 132 / var(--tw-text-opacity));
}

.text-\[\#FF5252\] {
  --tw-text-opacity: 1;
  color: rgb(255 82 82 / var(--tw-text-opacity));
}

.text-\[18\.23\] {
  color: 18.23;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-\[\] {
  color: ;
}

.underline {
  text-decoration-line: underline;
}

.opacity-0 {
  opacity: 0;
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline {
  outline-style: solid;
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: 'Satoshi-Light';

  src: url('../font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Light.woff2') format('woff2'),
         url('../font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Light.woff') format('woff'),
         url('../font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Light.ttf') format('truetype');

  font-weight: 300;

  font-display: swap;

  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Regular';

  src: url('../font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('../font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff') format('woff'),
         url('../font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.ttf') format('truetype');

  font-weight: 400;

  font-display: swap;

  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Medium';

  src: url('../font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff2') format('woff2'),
       url('../font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.woff') format('woff'),
       url('../font/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Medium.ttf') format('truetype');

  font-weight: 500;

  font-display: swap;

  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Bold';

  src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
         url('../fonts/Satoshi-Bold.woff') format('woff'),
         url('../fonts/Satoshi-Bold.ttf') format('truetype');

  font-weight: 700;

  font-display: swap;

  font-style: normal;
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }
}

@media (min-width: 1024px) {
  .lg\:static {
    position: static;
  }

  .lg\:left-\[-8rem\] {
    left: -8rem;
  }

  .lg\:right-\[-9\.3rem\] {
    right: -9.3rem;
  }

  .lg\:right-\[2rem\] {
    right: 2rem;
  }

  .lg\:top-\[5rem\] {
    top: 5rem;
  }

  .lg\:top-\[8rem\] {
    top: 8rem;
  }

  .lg\:mb-0 {
    margin-bottom: 0px;
  }

  .lg\:mb-4 {
    margin-bottom: 1rem;
  }

  .lg\:mb-\[10rem\] {
    margin-bottom: 10rem;
  }

  .lg\:mb-\[17rem\] {
    margin-bottom: 17rem;
  }

  .lg\:mb-\[5rem\] {
    margin-bottom: 5rem;
  }

  .lg\:mb-\[9rem\] {
    margin-bottom: 9rem;
  }

  .lg\:mt-6 {
    margin-top: 1.5rem;
  }

  .lg\:mt-\[-0\.6rem\] {
    margin-top: -0.6rem;
  }

  .lg\:mt-\[-2rem\] {
    margin-top: -2rem;
  }

  .lg\:mt-\[2rem\] {
    margin-top: 2rem;
  }

  .lg\:mt-\[3rem\] {
    margin-top: 3rem;
  }

  .lg\:mt-\[4rem\] {
    margin-top: 4rem;
  }

  .lg\:mt-\[6\.5rem\] {
    margin-top: 6.5rem;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[1\.5rem\] {
    height: 1.5rem;
  }

  .lg\:h-\[116px\] {
    height: 116px;
  }

  .lg\:h-\[11px\] {
    height: 11px;
  }

  .lg\:h-\[124\.09px\] {
    height: 124.09px;
  }

  .lg\:h-\[1505px\] {
    height: 1505px;
  }

  .lg\:h-\[1540px\] {
    height: 1540px;
  }

  .lg\:h-\[16\.63px\] {
    height: 16.63px;
  }

  .lg\:h-\[166px\] {
    height: 166px;
  }

  .lg\:h-\[1800px\] {
    height: 1800px;
  }

  .lg\:h-\[1883px\] {
    height: 1883px;
  }

  .lg\:h-\[25\.5px\] {
    height: 25.5px;
  }

  .lg\:h-\[25px\] {
    height: 25px;
  }

  .lg\:h-\[26\.61px\] {
    height: 26.61px;
  }

  .lg\:h-\[264px\] {
    height: 264px;
  }

  .lg\:h-\[29\.84px\] {
    height: 29.84px;
  }

  .lg\:h-\[2900px\] {
    height: 2900px;
  }

  .lg\:h-\[313\.13px\] {
    height: 313.13px;
  }

  .lg\:h-\[345px\] {
    height: 345px;
  }

  .lg\:h-\[350px\] {
    height: 350px;
  }

  .lg\:h-\[35px\] {
    height: 35px;
  }

  .lg\:h-\[442px\] {
    height: 442px;
  }

  .lg\:h-\[47\.43px\] {
    height: 47.43px;
  }

  .lg\:h-\[47\.85px\] {
    height: 47.85px;
  }

  .lg\:h-\[50px\] {
    height: 50px;
  }

  .lg\:h-\[51px\] {
    height: 51px;
  }

  .lg\:h-\[54\.93px\] {
    height: 54.93px;
  }

  .lg\:h-\[55\.43px\] {
    height: 55.43px;
  }

  .lg\:h-\[55px\] {
    height: 55px;
  }

  .lg\:h-\[64px\] {
    height: 64px;
  }

  .lg\:h-\[671px\] {
    height: 671px;
  }

  .lg\:h-\[67px\] {
    height: 67px;
  }

  .lg\:h-\[77px\] {
    height: 77px;
  }

  .lg\:h-full {
    height: 100%;
  }

  .lg\:h-\[400px\] {
    height: 400px;
  }

  .lg\:w-\[1034px\] {
    width: 1034px;
  }

  .lg\:w-\[1144px\] {
    width: 1144px;
  }

  .lg\:w-\[11px\] {
    width: 11px;
  }

  .lg\:w-\[1328\.63px\] {
    width: 1328.63px;
  }

  .lg\:w-\[151px\] {
    width: 151px;
  }

  .lg\:w-\[152px\] {
    width: 152px;
  }

  .lg\:w-\[158\.68px\] {
    width: 158.68px;
  }

  .lg\:w-\[16\.63px\] {
    width: 16.63px;
  }

  .lg\:w-\[165\.95px\] {
    width: 165.95px;
  }

  .lg\:w-\[174\.66px\] {
    width: 174.66px;
  }

  .lg\:w-\[180px\] {
    width: 180px;
  }

  .lg\:w-\[201px\] {
    width: 201px;
  }

  .lg\:w-\[229px\] {
    width: 229px;
  }

  .lg\:w-\[234\.91px\] {
    width: 234.91px;
  }

  .lg\:w-\[234px\] {
    width: 234px;
  }

  .lg\:w-\[25\.5px\] {
    width: 25.5px;
  }

  .lg\:w-\[25px\] {
    width: 25px;
  }

  .lg\:w-\[262px\] {
    width: 262px;
  }

  .lg\:w-\[280px\] {
    width: 280px;
  }

  .lg\:w-\[285px\] {
    width: 285px;
  }

  .lg\:w-\[315px\] {
    width: 315px;
  }

  .lg\:w-\[317px\] {
    width: 317px;
  }

  .lg\:w-\[330\.75px\] {
    width: 330.75px;
  }

  .lg\:w-\[35px\] {
    width: 35px;
  }

  .lg\:w-\[368px\] {
    width: 368px;
  }

  .lg\:w-\[446px\] {
    width: 446px;
  }

  .lg\:w-\[490px\] {
    width: 490px;
  }

  .lg\:w-\[500px\] {
    width: 500px;
  }

  .lg\:w-\[504px\] {
    width: 504px;
  }

  .lg\:w-\[516px\] {
    width: 516px;
  }

  .lg\:w-\[602px\] {
    width: 602px;
  }

  .lg\:w-\[632px\] {
    width: 632px;
  }

  .lg\:w-\[710px\] {
    width: 710px;
  }

  .lg\:w-\[717px\] {
    width: 717px;
  }

  .lg\:w-\[788px\] {
    width: 788px;
  }

  .lg\:w-\[797px\] {
    width: 797px;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:gap-0 {
    gap: 0px;
  }

  .lg\:gap-2 {
    gap: 0.5rem;
  }

  .lg\:gap-4 {
    gap: 1rem;
  }

  .lg\:gap-6 {
    gap: 1.5rem;
  }

  .lg\:gap-8 {
    gap: 2rem;
  }

  .lg\:gap-\[1\.5rem\] {
    gap: 1.5rem;
  }

  .lg\:gap-\[2\.5rem\] {
    gap: 2.5rem;
  }

  .lg\:gap-\[2rem\] {
    gap: 2rem;
  }

  .lg\:gap-\[3rem\] {
    gap: 3rem;
  }

  .lg\:gap-\[4rem\] {
    gap: 4rem;
  }

  .lg\:overflow-hidden {
    overflow: hidden;
  }

  .lg\:rounded-\[0\.7rem\] {
    border-radius: 0.7rem;
  }

  .lg\:rounded-\[15px\] {
    border-radius: 15px;
  }

  .lg\:rounded-\[18\.85px\] {
    border-radius: 18.85px;
  }

  .lg\:rounded-\[25px\] {
    border-radius: 25px;
  }

  .lg\:rounded-\[29\.22px\] {
    border-radius: 29.22px;
  }

  .lg\:rounded-\[43\.9px\] {
    border-radius: 43.9px;
  }

  .lg\:bg-\[\#EDF3F1\] {
    --tw-bg-opacity: 1;
    background-color: rgb(237 243 241 / var(--tw-bg-opacity));
  }

  .lg\:bg-background-form1 {
    background-image: url('../images/form1.png');
  }

  .lg\:bg-background-form2 {
    background-image: url('../images/form2.png');
  }

  .lg\:bg-background-form3 {
    background-image: url('../images/form3.png');
  }

  .lg\:bg-background-form4 {
    background-image: url('../images/form4.png');
  }

  .lg\:p-4 {
    padding: 1rem;
  }

  .lg\:px-\[4rem\] {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .lg\:pb-0 {
    padding-bottom: 0px;
  }

  .lg\:pb-\[13rem\] {
    padding-bottom: 13rem;
  }

  .lg\:pb-\[6rem\] {
    padding-bottom: 6rem;
  }

  .lg\:pt-\[6rem\] {
    padding-top: 6rem;
  }

  .lg\:pt-\[8rem\] {
    padding-top: 8rem;
  }

  .lg\:text-left {
    text-align: left;
  }

  .lg\:text-center {
    text-align: center;
  }

  .lg\:text-\[10\.61px\] {
    font-size: 10.61px;
  }

  .lg\:text-\[10\.86px\] {
    font-size: 10.86px;
  }

  .lg\:text-\[11\.09px\] {
    font-size: 11.09px;
  }

  .lg\:text-\[14px\] {
    font-size: 14px;
  }

  .lg\:text-\[15\.52px\] {
    font-size: 15.52px;
  }

  .lg\:text-\[15\.75px\] {
    font-size: 15.75px;
  }

  .lg\:text-\[15px\] {
    font-size: 15px;
  }

  .lg\:text-\[16px\] {
    font-size: 16px;
  }

  .lg\:text-\[18\.7px\] {
    font-size: 18.7px;
  }

  .lg\:text-\[18\.94px\] {
    font-size: 18.94px;
  }

  .lg\:text-\[18px\] {
    font-size: 18px;
  }

  .lg\:text-\[20px\] {
    font-size: 20px;
  }

  .lg\:text-\[22\.27px\] {
    font-size: 22.27px;
  }

  .lg\:text-\[24px\] {
    font-size: 24px;
  }

  .lg\:text-\[25px\] {
    font-size: 25px;
  }

  .lg\:text-\[30px\] {
    font-size: 30px;
  }

  .lg\:text-\[32px\] {
    font-size: 32px;
  }

  .lg\:text-\[35px\] {
    font-size: 35px;
  }

  .lg\:text-\[45px\] {
    font-size: 45px;
  }

  .lg\:text-\[5\.43px\] {
    font-size: 5.43px;
  }

  .lg\:text-\[55px\] {
    font-size: 55px;
  }

  .lg\:text-\[60px\] {
    font-size: 60px;
  }

  .lg\:font-\[500\] {
    font-weight: 500;
  }

  .lg\:leading-\[13\.03px\] {
    line-height: 13.03px;
  }

  .lg\:leading-\[19\.35px\] {
    line-height: 19.35px;
  }

  .lg\:leading-\[21\.6px\] {
    line-height: 21.6px;
  }

  .lg\:leading-\[24\.75px\] {
    line-height: 24.75px;
  }

  .lg\:leading-\[28px\] {
    line-height: 28px;
  }

  .lg\:leading-\[29px\] {
    line-height: 29px;
  }

  .lg\:leading-\[30px\] {
    line-height: 30px;
  }

  .lg\:leading-\[45\.85px\] {
    line-height: 45.85px;
  }

  .lg\:leading-\[48\.15px\] {
    line-height: 48.15px;
  }

  .lg\:leading-\[48\.6px\] {
    line-height: 48.6px;
  }

  .lg\:leading-\[49\.5px\] {
    line-height: 49.5px;
  }

  .lg\:leading-\[58\.85px\] {
    line-height: 58.85px;
  }

  .lg\:leading-\[90px\] {
    line-height: 90px;
  }

  .lg\:text-\[\#757575\] {
    --tw-text-opacity: 1;
    color: rgb(117 117 117 / var(--tw-text-opacity));
  }
}
